*.jar
*.class
target/
.vscode/
run-autoblog.sh
*.log
*.txt
*.sql
*.json
*.csv
*.sh
logback.xml
*.properties
*.yaml
*.md
*.history
layer/
!.mvn/wrapper/maven-wrapper.jar
src/test/java/com/zho/AppTest.java
rundb.sh